# 01. Exercise from course

## Merging Instacart Data

In [3]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [4]:
# Import Data
path = r'/Users/minglunchen/Desktop/12-2023 Instacart Basket Analysis'

In [5]:
path

'/Users/minglunchen/Desktop/12-2023 Instacart Basket Analysis'

In [6]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [7]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [8]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
df_ords_prior.shape

(32434489, 4)

In [10]:
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,orders_interval,first_order
0,0,2539329,1,prior,1,2,8,NaN,True
1,1,2398795,1,prior,2,3,7,15.0,False
2,2,473747,1,prior,3,3,12,21.0,False
3,3,2254736,1,prior,4,4,7,29.0,False
4,4,431534,1,prior,5,4,15,28.0,False

In [14]:
## Note for the df_ords data set: there was one column which was not needed in the data set, so I decided to remove it using: df_ords = df_ords.drop('Unnamed: 0', axis = 1)

In [11]:
df_ords.shape

(3421083, 9)

In [ ]:
# Merge two data sets, full match
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [ ]:
df_merged_large.head()

In [20]:
# Check whether I have a full match
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [22]:
# Export data to csv
df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

In [23]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))